$text-color: #521963;
$background-color: #fff1ed;
$primary-color: #ff8197;
$secondary-color: #ffd0a5;
$accent-color: #ffe3e3;

$text-color-dark: #fafcff;
$background-color-dark: #06465c;
$primary-color-dark: #f57c73;
$secondary-color-dark: #d0d6a5;
$accent-color-dark: #fafcff;
