$text-color: #23518c;
$background-color: #fafcff;
$primary-color: #da7168;
$secondary-color: #23518c;
$accent-color: #d0d6a5;

$text-color-dark: #fafcff;
$background-color-dark: #06465c;
$primary-color-dark: #f57c73;
$secondary-color-dark: #d0d6a5;
$accent-color-dark: #fafcff;